BODY {
       BACKGROUND-COLOR: #ffffff
} A.active-toplinks { 
FONT-SIZE: 9pt; COLOR: #ffffff; 
FONT-FAMILY: arial; TEXT-DECORATION: none 
} 
A.toplinks {
         FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none 
}
A.toplinks:hover { 
FONT-SIZE: 9pt; COLOR: #C2C2C2; FONT-FAMILY: arial 
}
A.toplinks1 { 
FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none 
}
A.toplinks1:hover { 
FONT-SIZE:9pt; COLOR: #116895; FONT-FAMILY: arial 
}
A.toplinks2 { 
FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none 
}
A.toplinks2:hover { 
FONT-SIZE:8pt; COLOR: #116895; FONT-FAMILY: arial 
}
FONT.date { 
 FONT-SIZE: 6pt; COLOR: #910000; 
FONT-FAMILY: arial 
} 
FONT.company-name { 
FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: 
#910000; FONT-FAMILY: Arial, Helvetica, sans-serif
} 
FONT.address {
FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
FONT.address1 { 
FONT-SIZE: 10pt; COLOR: #ffa04c; FONT-FAMILY: Arial, Helvetica, sans-serif 
} 
TR.header { 
} 
FONT.table_heading {
FONT-SIZE: 8pt; COLOR: #005480; FONT-FAMILY: 
Arial, Helvetica, sans-serif 
} 
TR.content-bg { 
BACKGROUND-COLOR: #f9f9f7 
} 
TR.content-alter-bg {
BACKGROUND-COLOR: #fbfdff 
} 
FONT.content { 
FONT-SIZE: 8pt; COLOR: #6d6b6b; FONT-FAMILY: 
Arial, Helvetica, sans-serif } FONT.heading { FONT-WEIGHT: bold; FONT-SIZE: 12pt; 
COLOR: #005480; FONT-FAMILY: Helvetica, Arial, sans-serif } FONT.lable { FONT-SIZE: 
9pt; COLOR: #005480; FONT-FAMILY: Helvetica, Arial, sans-serif 
}
INPUT.reg_form {
BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; 
BORDER-LEFT: #000000 1px solid; WIDTH: 82px; COLOR: #000000; BORDER-BOTTOM: #000000 
1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff 
}
INPUT.button {
BORDER-RIGHT: 
#00279d 0px solid; BORDER-TOP: #00279d 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 
7pt; BORDER-LEFT: #00279d 0px solid; WIDTH: 45px; COLOR: #3a3a3a; BORDER-BOTTOM: 
#00279d 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif; HEIGHT: 15px; BACKGROUND-COLOR: 
#FFDE7A 
} 
INPUT.button1 { 
BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 
1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; 
WIDTH: 60px; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Helvetica, 
Arial, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #f5f5f5 
} 
FONT.login-description { 
FONT-SIZE: 9pt; COLOR: #005480; FONT-FAMILY: Helvetica, Arial, sans-serif } 
TD.externalTbl-bg { BACKGROUND-COLOR: #cce0f7 } TR.heading { BACKGROUND-IMAGE: 
url(images/table_header_bg.gif) } TD.ph_properties { WIDTH: 15%; BACKGROUND-COLOR: 
#f9f9f7 } TD.ph_alter_properties { WIDTH: 10%; BACKGROUND-COLOR: #fefefe; align: 
center; valign: middle } TD.review_properties { WIDTH: 20%; BACKGROUND-COLOR: 
#f9f9f7; align: center; valign: middle } .review_alter_properties { WIDTH: 20%; 
BACKGROUND-COLOR: #fefefe; align: left } .review_heading { FONT-WEIGHT: bold; 
FONT-SIZE: 11pt; COLOR: #1b569a; FONT-FAMILY: Helvetica, Arial, sans-serif } .review_content 
{ FONT-SIZE: 8pt; COLOR: #4a4a4a; FONT-FAMILY: Helvetica, Arial, sans-serif } 
.latestph-modle-heading { FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; 
FONT-FAMILY: Helvetica, Arial, sans-serif } .latestph-content { FONT-SIZE: 7pt; 
COLOR: black; FONT-FAMILY: Helvetica, Arial, sans-serif } A.latestph-spec { FONT-SIZE: 
8pt; COLOR: #6d6b6b; FONT-FAMILY: Helvetica, Arial, sans-serif; TEXT-DECORATION: 
none } A.latestph-spec:hover { FONT-SIZE: 8pt; COLOR: maroon; FONT-FAMILY: Helvetica, 
Arial, sans-serif } TR.heading { BACKGROUND-IMAGE: url(images/table_header_bg.gif) 
} TD.news_properties { WIDTH: 33%; BACKGROUND-COLOR: #eef3f9; align: left; valign: 
top } FONT.news-heading { FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #005480; FONT-FAMILY: 
Helvetica, Arial, sans-serif } FONT.news-date { FONT-SIZE: 8pt; COLOR: #910000; 
FONT-FAMILY: Helvetica, Arial, sans-serif } FONT.news-content { FONT-SIZE: 9pt; 
COLOR: #000000; FONT-FAMILY: Helvetica, Arial, sans-serif } A.news-readmore { 
FONT-SIZE: 7pt; COLOR: #8c835b; FONT-FAMILY: Helvetica, Arial, sans-serif; TEXT-DECORATION: 
none } A.news-readmore:hover { FONT-SIZE: 7pt; COLOR: darkblue; FONT-FAMILY: Helvetica, 
Arial, sans-serif } FONT.index-content { FONT-SIZE: 9pt; COLOR: #3a3a3a; FONT-FAMILY: 
Helvetica, Arial, sans-serif } A.signup { FONT-SIZE: 9pt; COLOR: maroon; FONT-FAMILY: 
Helvetica, Arial, sans-serif } A.signup:hover { FONT-SIZE: 9pt; COLOR: #3a3a3a; 
FONT-FAMILY: Helvetica, Arial, sans-serif } .traders_dir_heading { FONT-WEIGHT: 
bold; FONT-SIZE: 9pt; COLOR: maroon; FONT-FAMILY: Arial,Helvetica, sans-serif; 
BACKGROUND-COLOR: #d8e2e9 } A.traders_dir_company_link { FONT-WEIGHT: bold; FONT-SIZE: 
9pt; COLOR: #1b569a; FONT-FAMILY: Arial,Helvetica, sans-serif; TEXT-DECORATION: 
none } A.traders_dir_company_link:hover { FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: 
#1b569a; FONT-FAMILY: Arial,Helvetica, sans-serif; TEXT-DECORATION: underline 
} TR.traders_dir { BACKGROUND-COLOR: #eef3f9 } TR.traders_dir_alter { BACKGROUND-COLOR: 
#eaeff4 } .traders_dir_company { WIDTH: 50%; align: left; valign: middle } .traders_dir_contact 
{ FONT-SIZE: 9pt; WIDTH: 40%; COLOR: #1b569a; FONT-FAMILY: Arial,Helvetica,sans-serif; 
align: left; valign: middle } .traders_dir_email { FONT-SIZE: 8pt; WIDTH: 10%; 
COLOR: #1b569a; FONT-FAMILY: Arial,Helvetica,sans-serif; align: left; valign: 
middle } .company_profile_content_heading { FONT-WEIGHT: bold; FONT-SIZE: 9pt; 
WIDTH: 35%; COLOR: #1b569a; FONT-FAMILY: Arial,Helvetica,sans-serif; align: left; 
valign: middle } .company_profile_content { FONT-SIZE: 9pt; WIDTH: 65%; COLOR: 
#1b569a; FONT-FAMILY: Arial,Helvetica,sans-serif; align: left; valign: middle 
} TR.company_profile { BACKGROUND-COLOR: #eef3f9 } TR.company_profile_alter { 
BACKGROUND-COLOR: #eaeff4 } .fields_marked { FONT-WEIGHT: bold; FONT-SIZE: 9pt; 
COLOR: #003755; FONT-FAMILY: Arial,Helvetica,sans-serif } .err_msg { FONT-WEIGHT: 
bold; FONT-SIZE: 9pt; COLOR: red; FONT-FAMILY: Arial,Helvetica,sans-serif } .admin_submit 
{ BACKGROUND-COLOR: #eef3f9 } .txtBoxStyle2 { BORDER-RIGHT: #005480 1px solid; 
BORDER-TOP: #005480 1px solid; SCROLLBAR-FACE-COLOR: #f5f8fa; FONT-SIZE: 8pt; 
BORDER-LEFT: #005480 1px solid; WIDTH: 300px; SCROLLBAR-SHADOW-COLOR: #f5f8fa; 
COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #f5f8fa; SCROLLBAR-ARROW-COLOR: #005480; 
BORDER-BOTTOM: #005480 1px solid; FONT-FAMILY: tahoma; SCROLLBAR-DARKSHADOW-COLOR: 
#f5f8fa; SCROLLBAR-BASE-COLOR: #005480; HEIGHT: 150px; BACKGROUND-COLOR: #ffffff 
} .txtBoxStyle1 { BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; 
SCROLLBAR-FACE-COLOR: #476cb6; FONT-SIZE: 8pt; BORDER-LEFT: #000000 2px solid; 
WIDTH: 400px; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: 
#000000; SCROLLBAR-ARROW-COLOR: #ffffff; BORDER-BOTTOM: #000000 3px solid; FONT-FAMILY: 
tahoma; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #000000; HEIGHT: 
300px; BACKGROUND-COLOR: #c9dbff } 
